# Variables de entorno de la base de datos
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.YOUR_SUPABASE_PROJECT.supabase.co:5432/postgres"

# JWT Configuración
JWT_SECRET="your-super-secret-jwt-key"
JWT_EXPIRES_IN="7d"

# Puerto del servidor
PORT=3000

# Google Maps API (Places API)
GOOGLE_MAPS_API_KEY="tu-api-key-de-google-maps"
